/* You can add global styles to this file, and also import other style files */
@import '../src/palette.scss';
@import '../src/typo.scss';
@import '../src/variables.scss';

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

