<div class="top-bar">
  <div class="item intro-item" (click)="scrollTo('photo-part')">Intro</div>
  <div class="item count-item" (click)="scrollTo('count-down-block')">count down</div>
  <div class="item location-item" (click)="scrollTo('location-block')">location</div>
  <div class="item gifts-item" (click)="scrollTo('gifts-block')">idee regalo</div>
  <div class="item contacts-item" (click)="scrollTo('contacts-block')">contatti</div>
</div>
<div class="main-container">
  <div class="block intro-block">
    <div class="intro-title">
      Arianna & Simone
    </div>
  </div>
  <div class="block photo-part">
    <div class="top-part">
      <div class="title">
        Ha detto si !
      </div>
      <div class="subtitle">
        Dopo anni insieme è arrivato il momento del grande passo.
        Ci sposiamo e vogliamo condividere questo momento con amici e famiglia
      </div>
      <div class="central-photo">
        <img src="assets/images/sunflower.svg" alt="">
      </div>
      <div class="last-text">
        Continuazione testo romantico e commuovente
      </div>
    </div>
  </div>
  <div class="block count-down-block">
    <div class="title">
      Manca Poco
    </div>
    <div class="count-down-part">
      <div class="countdown-item">
        <div class="title">giorni</div>
        <div class="number" id="days">{{days}}</div>
      </div>
      <div class="countdown-item">
        <div class="title">Ore</div>
        <div class="number" id="hours">{{hours}}</div>
      </div>
      <div class="countdown-item">
        <div class="title">Minuti</div>
        <div class="number" id="mins">{{minutes}}</div>
      </div>
      <div class="countdown-item">
        <div class="title">Secondi</div>
        <div class="number" id="secs">{{secs}}</div>
      </div>
    </div>
  </div>
  <div class="block location-block">
    <div class="info-part">
      <div class="img-container">
        <img src="assets/images/sunflower.svg" alt="">
      </div>
      <div class="title">
        Vi aspettiamo il 29 Giugno!
      </div>
      <div class="name-location">
        NOME LOCATION - H.12.00
      </div>
      <div class="specs">
        <span>via canale 10</span>
        <span>castello d'agliano 10499</span>
        <span>Genova (GE)</span>
      </div>
      <div class="button-part">
        <div class="button" (click)="goOnGoogleMaps()">
          Vedi su google maps
        </div>
      </div>
    </div>
    <div class="maps-part">

    </div>
  </div>
  <div class="block gifts-block">
    <div class="image-container">
      <img src="assets/images/leaf.svg" alt="">
    </div>
    <div class="title">
      Idee Regalo
    </div>
    <div class="subtitle">
      Non impazzite a cercare cornici, piante o soprammobili
        da regalarci, c’è un’alternativa più semplice!
    </div>
    <div class="iban-part">
      IT22INGB7527421754
    </div>
    <div class="button-container">
      <div class="button" (click)="goOnPaypal()">
        Usa paypal
      </div>
    </div>
  </div>
  <div class="block contacts-block">
    <div class="title">
      Contatti
    </div>
    <div class="subtitle">
      È gradita conferma di partecipazione! Scriveteci per confermare
    </div>
    <div class="contact-divide">
      <div class="simone">
        <div class="title">SIMONE</div>
        <div class="tel-number">+34587438743</div>
      </div>
      <div class="arianna">
        <div class="title">ARIANNA</div>
        <div class="tel-number">+34587438743</div>
      </div>
    </div>
  </div>
  <div class="footer-part">
    <div class="return-to-top" (click)="scrollTo('intro-block')">
      <div class="image">
        <img src="assets/images/arrow-up.svg" alt="">
      </div>
      <div class="button-top">
        TORNA SU
      </div>
    </div>

  </div>
</div>
