<div class="top-bar">
  <div class="item intro-item" (click)="scrollTo('photo-part')">Intro</div>
  <div class="item count-item" (click)="scrollTo('count-down-block')">count down</div>
  <div class="item location-item" (click)="scrollTo('location-block')">location</div>
  <div class="item gifts-item" (click)="scrollTo('gifts-block')">idee regalo</div>
  <div class="item contacts-item" (click)="scrollTo('contacts-block')">contatti</div>
</div>
<div class="main-container">
  <div class="block intro-block">
    <div class="intro-title">
      Arianna & Simone
    </div>
  </div>
  <div class="block photo-part">
    <div class="top-part">
      <div class="title">
        Ci sposiamo !
      </div>
      <!-- Modificato testo intro -->
      <div class="subtitle">
        Sono passati diversi anni dal giorno in cui ci siamo conosciuti e adesso siamo arrivati al momento del grande
        passo. Ci sposiamo! Siamo felicissimi di condividere questa splendida notizia con tutti voi!
      </div>
      <div class="central-photo">
        <img src="assets/images/sunflower.svg" alt="">
      </div>
      <div class="last-text">
        Continuazione testo romantico e commuovente
      </div>
    </div>
  </div>
  <div class="block count-down-block">
    <div class="title">
      Manca Poco
    </div>
    <div class="count-down-part">
      <div class="countdown-item">
        <div class="title">giorni</div>
        <div class="number" id="days">{{days}}</div>
      </div>
      <div class="countdown-item">
        <div class="title">Ore</div>
        <div class="number" id="hours">{{hours}}</div>
      </div>
      <div class="countdown-item">
        <div class="title">Minuti</div>
        <div class="number" id="mins">{{minutes}}</div>
      </div>
      <div class="countdown-item">
        <div class="title">Secondi</div>
        <div class="number" id="secs">{{secs}}</div>
      </div>
    </div>
  </div>
  <div class="block location-block">
    <div class="info-part">
      <div class="img-container">
        <img src="assets/images/sunflower.svg" alt="">
      </div>
      <div class="title">
        Vi aspettiamo il 29 Giugno!
      </div>
      <!-- Aggiunto un div -->
      <div class="specs">
        <span>La cerimonia si svolgerà presso:</span>
      </div>
      <div class="name-location">
        Chiesa Santa Maria - H.10:30
      </div>
      <div class="specs">
        <span>Via della Chiesa 1</span>
        <span>Peveragno CN 12016</span>
      </div>
      <div class="button-part">
        <div class="button" (click)="goOnGoogleMaps()">
          Vedi su google maps
        </div>
      </div>
    </div>
    <!-- Immagine location chiesa aggiunta -->
    <div class="maps-part"></div>
  </div>
  <div class="block gifts-block">
    <div class="image-container">
      <img src="assets/images/leaf.svg" alt="">
    </div>
    <div class="title">
      Idee Regalo
    </div>
    <div class="subtitle">
      Non impazzite a cercare cornici, piante o soprammobili
      da regalarci, c’è un’alternativa più semplice!
    </div>
    <div class="iban-part">
      LT023250083769138438
    </div>
    <!-- Ho tolto per il momento il bottone paypal perché ho un problema con il link, nel caso lasciamo solo l'IBAN -->
    <!-- <div class="button-container">
      <div class="button" (click)="goOnPaypal()">
        Usa paypal
      </div>
    </div> -->
  </div>
  <div class="block contacts-block">
    <div class="title">
      Contatti
    </div>
    <div class="subtitle">
      È gradita conferma di partecipazione! Scriveteci per confermare
    </div>
    <div class="contact-divide">
      <div class="simone">
        <div class="title">SIMONE</div>
        <!-- Inserita mail al posto del numero -->
        <div class="tel-number">{{emailSimone}}</div>
      </div>
      <div class="arianna">
        <div class="title">ARIANNA</div>
        <!-- Inserita mail al posto del numero -->
        <div class="tel-number">{{emailArianna}}</div>
      </div>
    </div>
  </div>
  <div class="footer-part">
    <div class="return-to-top" (click)="scrollTo('intro-block')">
      <div class="image">
        <img src="assets/images/arrow-up.svg" alt="">
      </div>
      <div class="button-top">
        TORNA SU
      </div>
    </div>

  </div>
</div>
