<div class="top-bar">
  <div class="item intro-item" (click)="scrollTo('photo-part')">Intro</div>
 <!--  <div class="item count-item" (click)="scrollTo('count-down-block')">Conto alla rovescia</div> -->
  <div class="item location-item" (click)="scrollTo('location-block')">Foto</div>
<!--   <div class="item gifts-item" (click)="scrollTo('gifts-block')">idee regalo</div> -->
  <div class="item contacts-item" (click)="scrollTo('contacts-block')">Contatti</div>
</div>
<div class="main-container">
  <div class="block intro-block">
    <div class="intro-title">
      Arianna & Simone
    </div>
  </div>
  <div class="block photo-part">
    <div class="top-part">
      <div class="title">
        Ci siamo sposati (finalmente) !
      </div>
      <!-- Modificato testo intro -->
      <div class="subtitle">
        Ci siamo sposati il 29/06/2024 alla chiesa di Peveragno! E' stata una cerimonia bellissima ricca di emozioni e divertimento, dove
        amici e famiglia hanno partecipato alla nostra felicità,e al nostro "Per Sempre"
      </div>
      <div class="central-photo">
        <img src="assets/images/married.jpg" alt="">
      </div>
      <!-- <div class="last-text">
        Continuazione testo romantico e commuovente
      </div> -->
      <div class="last-text">
        Volevamo dedicare questa pagina a tutte le persone che
        ci hanno visto crescere e che ci hanno sostenuto in questo percorso.A chi ha partecipato al matrimonio e a chi , purtroppo , non cè più.
        A breve su questa pagina potrete trovare le foto della cerimonia e del ricevimento in modo tale da
        poter ricordare assieme il giorno che ha consolidato il nostro amore.
      </div>
    </div>
  </div>
  <div class="block count-down-block">
    <div class="title">
      Just Married!
    </div>
    <div class="title">
      29/06/2024
    </div>
   <!-- <div class="count-down-part">
      <div class="countdown-item">
        <div class="title">giorni</div>
        <div class="number" id="days">{{days}}</div>
      </div>
      <div class="countdown-item">
        <div class="title">Ore</div>
        <div class="number" id="hours">{{hours}}</div>
      </div>
      <div class="countdown-item">
        <div class="title">Minuti</div>
        <div class="number" id="mins">{{minutes}}</div>
      </div>
      <div class="countdown-item">
        <div class="title">Secondi</div>
        <div class="number" id="secs">{{secs}}</div>
      </div>
    </div>
    -->
  </div>
  <div class="block location-block">
    <div class="info-part">
      <div class="img-container">
        <img src="assets/images/sunflower.svg" alt="">
      </div>
      <div class="title">
        Foto
      </div>
      <!-- Aggiunto un div -->
      <ngx-slick-carousel class="carousel"
      #slickModal="slick-carousel"
      [config]="config"
      (init)="slickInit($event)"
      (breakpoint)="breakpoint($event)"
      (afterChange)="afterChange($event)"
      (beforeChange)="beforeChange($event)">
      <div ngxSlickItem *ngFor="let slide of images" class="slide">
        <img src="{{ slide.image }}" alt="" width="400px" class="image-slide">
      </div>
      </ngx-slick-carousel>
      <div class="button-part" style="margin-top: 12px;">
        <div class="button" (click)="downloadImage()">
          Scarica le foto
        </div>
      </div>
    </div>
    <!-- Immagine location chiesa aggiunta -->
    <!--<div class="maps-part"></div> -->
  </div>
<!--   <div class="block gifts-block"> -->
   <!--  <div class="image-container">
      <img src="assets/images/leaf.svg" alt="">
    </div>
    <div class="title">
      Idee Regalo
    </div>
    <div class="subtitle">
      Non impazzite a cercare cornici, piante o soprammobili
      da regalarci, c’è un’alternativa più semplice!
    </div>
    <div class="iban-part">
      <span>IBAN:</span>
      <span>LT023250083769138438</span>
    </div> -->
    <!-- Ho tolto per il momento il bottone paypal perché ho un problema con il link, nel caso lasciamo solo l'IBAN -->
    <!-- <div class="button-container">
      <div class="button" (click)="goOnPaypal()">
        Usa paypal
      </div>
    </div> -->
<!--   </div> -->
  <div class="block contacts-block">
    <div class="title">
      Contatti
    </div>
    <div class="subtitle">
      È gradita conferma di partecipazione! Scriveteci per confermare
    </div>
    <div class="contact-divide">
      <div class="simone">
        <div class="title">SIMONE</div>
        <!-- Inserita mail al posto del numero -->
        <div class="tel-number">{{emailSimone}}</div>
      </div>
      <div class="arianna">
        <div class="title">ARIANNA</div>
        <!-- Inserita mail al posto del numero -->
        <div class="tel-number">{{emailArianna}}</div>
      </div>
    </div>
  </div>
  <div class="footer-part">
    <div class="return-to-top" (click)="scrollTo('intro-block')">
      <div class="image">
        <img src="assets/images/arrow-up.svg" alt="">
      </div>
      <div class="button-top">
        TORNA SU
      </div>
    </div>

  </div>
</div>
