@import '../../variables.scss';
@import '../../palette.scss';
@import '../../typo.scss';

.top-bar{
  width: 100%;
  background-color: #fff;
  @include menuItem;
  @include flex-row;
  align-items: center;
  justify-content: space-around;
  height: 142px;
  position: fixed;
  top:0px;
  z-index: -1;
  color: $primaryColor;
  .item{
    cursor:pointer;
  }
  @media screen and (max-width:958px) {
   display: none;
 }
}
.main-container{
  @include flex-col;
  margin-top: 142px;
  @media screen and (max-width:958px) {
    margin-top: 0px;
  }
  .intro-block{
    padding: 120px;
    height: calc(100vh - 142px);
    background-image: url('../../assets/images/background3.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include flex-row-center;
    @media screen and (max-width:576px) {
     padding: 64px
    }
    .intro-title{
      @include titleL;
      @include flex-row-center;
      border-radius: 200px;
      background-color: #fff;
      padding: 0px 64px;
      text-align: center;
      color: $primaryColor;

    }
  }
  .photo-part{
    @include flex-col;
    min-height: calc(100vh - 142px);
    .top-part{
      padding: 120px;
      min-height: 50%;
      width: 100%;
      color: #fff;
      background: rgb(255,255,255);
      background: linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(138,155,142,1) 31%);
      @include flex-col;
      align-items: center;
      @media screen and (max-width:576px) {
        padding: 64px
       }
       @media screen and (max-width:400px){
        background: linear-gradient(0deg, rgba(255,255,255,1) 38%, rgba(138,155,142,1) 38%);
       }
      .title{
        @include titleL;
        margin-bottom: 24px;
        text-align: center
      }
      .subtitle{
        @include paragraphL;
        text-align: center;
        margin-bottom: 80px;
        text-align: center
      }
      .central-photo{
        background-color: lightgoldenrodyellow;
        margin-bottom: 80px;
        max-width: 100%;
        img{
          max-width: 100%;
          height: 100%;
        }
      }
      .last-text{
        color: $primaryColor;
        @include paragraphL;
        text-align: center;
      }
    }

  }
  .count-down-block{
    padding: 120px;
    background-image: url('../../assets/images/backgroundplain.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $primaryColor;
    @include flex-col;
    align-items: center;
    @media screen and (max-width:576px) {
      padding: 64px
     }
    .title{
      @include titleL;
      margin-bottom: 80px;
      text-align: center
    }
    .count-down-part{
      @include flex-row;
      align-items: center;
      @media screen and (max-width:958px) {
        @include flex-col;
     }
      .countdown-item{
        @include flex-col-center;
        padding: 0px 80px;
        border-left: 0.68px solid $primaryColor;
        @media screen and (max-width:958px) {
          border-left:none;
          margin: 12px 0px;
        }
        .title{
          @include subtitleL;
          margin-bottom: 12px;
        }
        .number{
          @include titleL;
        }
      }
      .countdown-item:first-child{
        border-left: none;
      }
    }
  }
  .location-block{
    padding: 48px 0px 0px 0px;
    @include flex-col-center;
    background-color: #fff;
    .info-part{
      padding: 0px 120px;
      @include flex-col-center;
      text-align: center;
      @media screen and (max-width:576px) {
        padding:0px 64px
       }
      .img-container{
        width: 250px;
        height: 250px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .title{
        @include titleL;
        margin-bottom: 80px;
        @include flex-row-center;
        text-align: center;
      }
      .name-location{
        @include flex-row-center;
        @include subtitleL;
        margin-bottom: 28px;
        text-align: center;

      }
      .specs{
        @include paragraphL;
        @include flex-col-center;
        gap: 4px;
        margin-bottom: 28px;
      }
      .button-part{
        @include flex-row-center;
        width: 100%;
        // margin-top: 80px;
        .button{
          @include button-classic;
          text-transform: uppercase;
        }
      }
    }
    .maps-part{
      background-image: url('../../assets/images/mappa-chiesa.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 600px;
      width: 100%;
      margin-top: 24px;
      // Ho aggiunto questo filtro, è il più acquerelloso e pastelloto che sono riuscito ad applicare
      filter: saturate(200%) grayscale(40%) contrast(120%) brightness(96%);
    }
  }
  .gifts-block{
    padding: 120px;
    background-image: url('../../assets/images/backgroundplain.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include flex-col-center;
    color:$primaryColor;
    @media screen and (max-width:576px) {
      padding: 64px
     }
    .image-container{
      width: 250px;
      height: 250px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .title{
      @include titleL;
      margin-bottom: 28px;
      @include flex-row-center;
      text-align: center;
    }
    .subtitle{
      @include paragraphL;
      @include flex-row-center;
      text-align: center;
    }
    .iban-part{
      @include subtitleL;
      margin: 80px 0px;
      text-align: center;
    }
    .button-container{
      @include flex-row-center;
      width: 100%;

      .button{
        @include button-classic;
        text-transform: uppercase;
      }
    }
  }
  .contacts-block{
    padding: 120px;
    color: $primaryColor;
    background-color: #fff;
    @media screen and (max-width:576px) {
      padding: 64px
     }
    .title{
      @include titleL;
      margin-bottom: 28px;
      @include flex-row-center;
      text-align: center;
    }
    .subtitle{
      @include paragraphL;
      @include flex-row-center;
      text-align: center;
    }
    .contact-divide{
      margin-top: 80px;
      @include flex-row;
      justify-content: center;
      width: 100%;
      @media screen and (max-width:576px) {
        @include flex-col;
     }
      .simone,.arianna{
        @include flex-col-center;
        padding: 0px 80px;
        @media screen and (max-width:576px) {
          border:none;
          margin: 12px 0px;
        }
        .title{
          @include subtitleL;
          margin-bottom: 24px;
          text-align: center;
        }
        .tel-number{
          @include paragraphL;
          text-align: center;
        }
      }
      .simone{
        border-right: 0.68px solid $primaryColor;
        @media screen and (max-width:576px) {
          border:none;
          margin: 12px 0px;
        }
      }
    }
  }
  .footer-part{
    @include flex-row;
    background-image: url('../../assets/images/bottom-img.svg');
    background-position: bottom;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 600px;
    width: 100%;
    color:$primaryColor;
    justify-content: center;
    @media screen and (max-width:576px) {
      background-size: contain;
      height: 250px;
    }
    .return-to-top{
      @include flex-col-center;
      cursor: pointer;
      height: fit-content;
      .image{
        width: 42px;
        height: 42px;
        margin-bottom: 32px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .button-top{
        @include buttonL;
        cursor: pointer;
      }
    }
  }
}
